*,
*::before,
*::after {
  font-family: "Lato", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  line-height: 1;
}

button {
  background: none;
}

ul,
ol,
dl {
  list-style: none;
}

.clearfix {
  height: 16px;
}

.container {
  min-height: 100vh;
  background: #e4e4e4;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

/* ----------------------------------------------- */
/* CART COMPONENT*/
/* ----------------------------------------------- */
.item-body-desc-count > p {
  padding: 5px 0;
  font-size: 13px;
}
.cart-item-count {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}


/* ----------------------------------------------- */
/* MODAL */
/* ----------------------------------------------- */

.overlay-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.modal-layer {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  border-radius: 15px;
}

.modal-layer > p {
  padding: 10px;
}

.modal-layer > div {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.modal-layer > div > button {
  padding: 10px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}

.modal-layer > div > button:first-child {
  background: royalblue;
  color: #fff;
}
